* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

aside {
    height: 100%;
    width: 12.5rem;
    position: fixed;
    background-color: cadetblue;
}

aside a {
    display: block;
    padding: 1.25rem;
    text-decoration: none;
}

section {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: 12.5rem;
    padding: 1.25rem;
    background-color: coral;
}