* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2rem .5rem;
    background-color: aqua;
}

nav {
    padding: 1.5rem 1rem;
    background-color: cadetblue;
}

ul {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

ul a {
    text-decoration: none;
}

section {
    padding: 2rem 0 0;
    background-color: coral;
}

section::after {
    content: "";
    clear: both;
    display: table;
}

@media (max-width: 600px) {
    section p {
        width: 100%;
    }
}

section>h2 {
    margin-bottom: 1rem;
}

section>p {
    width: 25%;
    height: 12.5rem;
    padding: 1rem;
    float: left;
    background-color: lightblue;
}

section>p.center {
    width: 50%;
    background-color: lightcyan;
}

footer {
    padding: 1.5rem;
    background-color: darkgoldenrod;
}